@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Permanent+Marker&display=swap');

:root {
    --background: #c7c9d1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    width: 100%;
    color: #03204f;
}

h1, 
h2, 
h3 {
    font-family: 'Permanent Marker', cursive;
    color: #03204f;
    text-shadow: 1px 1px #fff;
}

h4 {
    text-align: center;
    color: #631f6f;
    margin: 10px;
}

p {
    text-align: center;
    margin-bottom: 5%;
}

input {
    line-height: 2em;
}

.form_icons i {
    font-size: 3em;
    text-align: center;
    padding: 0 20px;
}

.form_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 5% auto;
    max-width: 800px;
}

.form_description {
    text-align: center;
    margin-top: 5%;
    font-size: 2em;
}

/* Headings and Nav Bar*/

header {
    background: var(--background);
    position: relative;
    z-index: 999;
    width: 100%;
}

.logo {
    font-size: 1.5em;
    text-align: left;
    text-decoration: none;
}

.logo h1 {
    margin-right: 15%;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 0.5em;
    height: 100%;
    display: flex;
    align-items: center;
    color: #03204f;
}

header label {
    font-size: 2em;
}

header label:hover {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

nav {
    position: absolute; 
    text-align: right;
    top: 100%;
    right: 0;
    background: var(--background);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-right: 1em;
}

nav a {
    color: #03204f;
    text-decoration: none;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
    font-weight: 600;
    font-size: 1.25em;
}

nav a:hover {
    color: white;
    text-decoration: underline;
}
.nav-toggle:checked ~ nav {
    transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 150ms ease-in-out 150ms;
}

@media screen and (min-width: 1024px) {
    .logo > h1 {
        text-align: center;
        margin: 0;
        padding: 1%;
    }
    
    .nav-toggle-label {
        display: none;
    }

    nav {
        all: unset;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav ul {
        display: flex;
    }

    nav li {
        margin: 0 30px;
        margin-bottom: 1em;
        text-align: center;
    }

    nav a {
        opacity: 1;
    }
}

/*Hero Image*/

.hero-container {
    position: relative;
}

.hero-image > img {
    display: block;
    width: 100%;
    height: 80vh;
    border: 8px solid #03204f;
    object-fit: cover;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.5em;
    background-color: var(--background);
    border-radius: 15%;
    border: 2px solid #03204f;
    padding: 2.5%;
}

/*About Us*/

.about-us-background-image {
    background: var(--background);
}

.about-us {
    font-size: 2em;
    text-align: center;
    padding-top: 0.5em;
}

.content-about-us {
    text-align: center;
    margin: 0.75em auto;
    padding: 2%;
    list-style-position: inside;
}

.container-about-us {
    font-size: 1.25em;
}

.about-image-container {
    padding: 8px;
}

.image-about-us {
    width: 50%;
    height: auto;
    display: block;
    margin: auto;
    object-fit: cover;
    border: 4px solid #A2ABB5;
    border-radius: 25%;
}

@media screen and (min-width: 768px) {
    .image-about-us {
        max-width: 350px;
    }

    .container-about-us {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
    }

    .content-about-us {
        flex: 50%;
    }

    .content-left {
        padding-right: 12%;
    }

    .content-right {
        padding-left: 12%;
    }

    .about-image-container {
        position: absolute;
        align-items: center; 
        top: 50%;  
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

/*Page Link Section*/

.craft_container div {
    width: 100%;
    padding-top: 100%;
    position: relative;
}

.craft_container div a {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.craft_container div a:hover {
    text-decoration: underline;
    cursor: pointer; 
}

.reuse_image {
    background-image: url(../images/site_images/reuse_play.jpg);
    background-size: cover;
    background-position: center;
    border: 4px solid #a30021;
}

.reuse_link {
    color: #fff;
    background-color: #a30021;
    border: 2px solid black;
    padding: 1em;
    text-decoration: none;
    text-transform: uppercase;
}

.seasonal_image {
    background-image: url(../images/site_images/seasonal_fun.jpg);
    background-size: cover;
    background-position: center;
    border: 4px solid #fac748;
}

.seasonal_link {
    color: #fff;
    background-color: #fac748;
    border: 2px solid black;
    padding: 1em;
    text-decoration: none;
    text-transform: uppercase;
}

.learn_image {
    background-image: url(../images/site_images/learn_craft.jpg);
    background-size: cover;
    background-position: center;
    border: 4px solid #03204f;
}

.learn_link {
    color: #fff;
    background-color: #03204f;
    border: 2px solid black;
    padding: 1em;
    text-decoration: none;
    text-transform: uppercase;
}

.rainy_image {
    background-image: url(../images/site_images/rainy_day.jpg);
    background-size: cover;
    background-position: center;
    border: 4px solid #a2abb5;
}

.rainy_link {
    color: #fff;
    background-color: #a2abb5;
    border: 2px solid black;
    padding: 1em;
    text-decoration: none;
    text-transform: uppercase;
}

.picture_image {
    background-image: url(../images/site_images/picture_board.jpg);
    background-size: cover;
    background-position: center;
    border: 4px solid #157145;
}

.picture_link {
    color: #fff;
    background-color: #157145;
    border: 2px solid black;
    padding: 1em;
    text-decoration: none;
    text-transform: uppercase;
}

.vote_image {
    background-image: url(../images/site_images/vote.jpg);
    background-size: cover;
    background-position: center;
    border: 4px solid #631f6f;
}

.vote_link {
    color: #fff;
    background-color: #631f6f;
    border: 2px solid black;
    padding: 1em;
    text-decoration: none;
    text-transform: uppercase;
}

.stay_image {
    background-image: url(../images/site_images/stay_letter.jpg);
    background-size: cover;
    background-position: center;
    border: 4px solid #734d30;
}

.stay_link {
    color: #fff;
    background-color: #734d30;
    border: 2px solid black;
    padding: 1em;
    text-decoration: none;
    text-transform: uppercase;
}

@media screen and (min-width: 768px) {
    .craft_container {
        display: flex;
        flex-wrap: wrap;
    }

    .craft_container div {
        height: 40vh;
        padding-top: 0;
    }
    
    .flex-left {
        flex: 50%;
    }

    .flex-right {
        flex: 50%;
    }

    .flex-center {
        flex: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .flex-left,
    .flex-right {
        flex: 25%;
    }
}

/*Footer*/

footer {
    background: var(--background);
    width: 100%;
}

.social_networks {
    text-align: center;
}

.social_networks li {
    display: inline;
}

.social_networks i {
    font-size: 2rem;
    margin: 2% 5%;
    color: #03204f;
}

/*Reuse & Play Craft Page*/

.craft_1_container {
    border: 4px solid #a30021;
    background: var(--background);
}

.craft_2_container {
    border: 4px solid #fac748;
    background: var(--background);
}

.craft_3_container {
    border: 4px solid #157145;
    background: var(--background);
}

.web-link {
    margin-bottom: 2%;
}

.craft_title {
    text-align: center;
    margin: 5%;
    text-decoration: underline;
    font-size: 1.5em;
}

.craft_title p {
    font-size: 0.6em;
}

.craft_image img {
    width: 200px;
    display: block;
    margin: auto;
    height: auto;
    border: 4px solid #a2abb5;
    border-radius: 25%;
    margin-bottom: 1%;
}

.instructions {
    text-align: center;
    list-style-position: inside;
}

.instructions li {
    margin-bottom: 2%;
    font-size: 0.9em;
}

.number {
    text-align: center;
    border: 4px solid #734d30;
    border-radius: 50%;
    width: 50px;
    line-height: 50px;
    margin-left: auto;
    margin-right: auto;
}

.craft_form_submit {
    margin: 5% auto;
    max-width: 400px;
}

@media screen and (min-width: 768px) {
    .craft_1_container,
    .craft_2_container,
    .craft_3_container {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto auto auto;
        justify-content: space-evenly;
        align-content: center;
        padding: 1%;
    }

    .craft_title {
        grid-column: 1 / span 2;
        grid-row: 1;
        margin: 1%;
    }

    .skill_level {
        padding-top: 10%;
    }

    .grid-1 {
        grid-column: 1;
        grid-row: 3;
    }

    .grid-2 {
        grid-column: 2;
        grid-row: 3;
    }

    .grid-3 {
        grid-column: 1 / span 2;
        grid-row: 4;
    }

    .grid-4 {
        grid-column: 1 / span 2;
        grid-row: 5;
    }

    .grid-1,
    .grid-2,
    .grid-3,
    .grid-4 {
        padding: 0 2%;
    }
}

@media screen and (min-width: 1024px) {
    .craft_1_container,
    .craft_2_container,
    .craft_3_container {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: auto auto auto auto;
        justify-content: space-evenly;
        padding: 1%;
    }

    .craft_title {
        grid-column: 1 / span 4;
        grid-row: 1;
    }
    
    .skill_level {
        grid-column: 1;
        grid-row: 2 / span 2;
        font-size: 1.5em;
    }

    .craft_image {
        grid-column: 1;
        grid-row: 4;
    }

    .grid-1 {
     grid-column: 2;
     grid-row: 2 / span 3;
    }

    .grid-2 {
        grid-column: 3;
        grid-row: 2 / span 3;
    }

    .grid-3 {
        grid-column: 4;
        grid-row: 2 / span 2;
    }

    .grid-4 {
        grid-column: 4;
        grid-row: 4;
    }
}

/*Picture Board Page*/

.gallery_title {
    text-align: center;
    font-size: 2em;
    text-decoration: underline;
    padding: 0.5em;
}

.gallery-paragraph {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5%;
    text-align: center;
}

.gallery-sentance {
    max-width: 800px;
    margin: auto;
}

.reuse_picture_container {
    background-color: #a30021;
    height: 400px;
    overflow: scroll;
    border: 4px solid #a2abb5;
}

.seasonal_picture_container {
    background-color: #fac748;
    height: 400px;
    overflow: scroll;
    border: 4px solid #a2abb5;
}

.learn_picture_container {
    background-color: #03204f;
    height: 400px;
    overflow: scroll;
    border: 4px solid #a2abb5;
}

.rainy_picture_container {
    background-color: var(--background);
    height: 400px;
    overflow: scroll;
    border: 4px solid #a2abb5;
}

.gallery {
    width: 100%;
    margin: auto;
}

.gallery img:hover {
    outline: 8px solid #a2abb5;
}

.gallery img {
    width: 300px;
    height: 300px;
    object-fit: fill;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid #a2abb5;
}

@media screen and (min-width: 768px) {
    .reuse_picture_container,
    .seasonal_picture_container,
    .learn_picture_container,
    .rainy_picture_container
     {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content:left;
     }
}

/*Vote Page*/

.vote_title {
    text-align: center;
    font-size: 1.5em;
    color: #631f6f;
    text-decoration: underline;
}

.question_answers label {
    display: block;
    font-size: 0.9em;
    margin-left: 8%;
}

.question_answers input {
    width: auto;
    margin-right: 10%;
}

@media screen and (min-width: 768px) {
    .vote_questions {
        width: 80%;
    }

    .question_answers label {
        margin-left: 25%;
    }
}

/*Stay In Touch Page*/

.newsletter-sign-up {
    line-height: 3em;
}

input, textarea {
    width: 100%;
    margin-bottom: 5%;
    border: 2px solid #a30021;
}

.submit_btn {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25em;
    background: #a30021;
    color: #fff;
    padding: 2%;
    border: 2px solid black;
}

.submit_btn:hover {
    background: #fff;
    color: #a30021;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .newsletter-form {
        width: 100%;
        line-height: 2em;  
    }
}