@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Permanent+Marker&display=swap');

:root {
    --background: rgba(115, 77, 48, 0.9);
}

* {
    margin: 0;
    padding-left: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

/* Headings and Nav Bar*/

h1, 
h2, 
h3 {
    font-family: 'Permanent Marker', cursive;
}

header {
    background: var(--background);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
}

.logo {
    color: black;
    text-align: left;
    text-decoration: none;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 0.5em;
    height: 100%;
    display: flex;
    align-items: center;
}

header label {
    font-size: 2em;
}

header label:hover {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

nav {
    position: absolute; 
    text-align: right;
    top: 100%;
    right: 0;
    background: var(--background);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-right: 1em;
}

nav a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: white;
    text-decoration: underline;
}
.nav-toggle:checked ~ nav {
    transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 150ms ease-in-out 150ms;
}

@media screen and (min-width: 1024px) {
    .nav-toggle-label {
        display: none;
    }

    nav {
        all: unset;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul {
        display: flex;
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }

    nav a {
        opacity: 1;
    }
}

/*Hero Image*/

.hero-image {
    position: relative;
    width: 100%;
    height: auto;
    background-size: contain;
    margin-top: 94px;
}

/*About Us*/

.about-us-background-image {
    background-image: url(../images/site_images/about_background.jpg);
    background-size: 100% 100%;
}

.about-us {
    text-align: center;
}

.content-about-us {
    text-align: center;
    margin: 0.75em auto;
    list-style-position: inside;
}

.image-about-us {
    width: 60%;
    height: auto;
    display: block;
    margin: auto;
    background-size: contain;
    border: 4px solid #A2ABB5;
    border-radius: 25%;
}

/*Craft Ideas and Projects Section*/

.craft_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.craft_container div {
    height: 300px;
    width: 300px;
    border: 4px solid #A2ABB5;
    margin: 3px; 
}

.craft_container div a {
    position: relative;
    top: 50%;
}

.craft_container div a:hover {
    text-decoration: underline;
    cursor: pointer; 
}

.reuse_image {
    background-image: url(../images/site_images/reuse_play.jpg);
    background-size: 100% 100%;
}

.reuse_link {
    color: #fff;
    background-color: #a30021;
    border: 2px solid black;
    padding: 1em;
    text-decoration: none;
    text-transform: uppercase;
}

.seasonal_image {
    background-image: url(../images/site_images/seasonal_fun.jpg);
    background-size: 100% 100%;
}

.seasonal_link {
    color: #fff;
    background-color: #fac748;
    border: 2px solid black;
    padding: 1em;
    text-decoration: none;
    text-transform: uppercase;
}

.learn_image {
    background-image: url(../images/site_images/learn_craft.jpg);
    background-size: 100% 100%;
}

.learn_link {
    color: #fff;
    background-color: #03204f;
    border: 2px solid black;
    padding: 1em;
    text-decoration: none;
    text-transform: uppercase;
}

.rainy_image {
    background-image: url(../images/site_images/rainy_day.jpg);
    background-size: 100% 100%;
}

.rainy_link {
    color: #fff;
    background-color: #a2abb5;
    border: 2px solid black;
    padding: 1em;
    text-decoration: none;
    text-transform: uppercase;
}

/*Vote and Stay In Touch Section*/

.vote_touch_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vote_touch_container div {
    height: 300px;
    width: 300px;
    border: 4px solid #A2ABB5;
    margin: 3px; 
}

.vote_touch_container div a {
    position: relative;
    top: 50%;
}

.vote_touch_container div a:hover {
    text-decoration: underline;
    cursor: pointer; 
}

.vote_image {
    background-image: url(../images/site_images/vote.jpg);
    background-size: 100% 100%;
}

.vote_link {
    color: #fff;
    background-color: #734d30;
    border: 2px solid black;
    padding: 1em;
    text-decoration: none;
    text-transform: uppercase;
}

.stay_image {
    background-image: url(../images/site_images/stay_in_touch.jpg);
    background-size: 100% 100%;
}

.stay_link {
    color: #fff;
    background-color: #734d30;
    border: 2px solid black;
    padding: 1em;
    text-decoration: none;
    text-transform: uppercase;
}

/*Footer*/

footer {
    background: var(--background);
    width: 100%;
}

.social_networks {
    text-align: center;
}

.social_networks li {
    display: inline;
}

.social_networks i {
    font-size: 2rem;
    margin: 5%;
    color: #03204f;
}

/*Stay In Touch*/

form {
    margin: 5%;
    padding: 5%;
}

.title {
    text-align: center;
    font-size: 2em;
}

.form_icons i {
    font-size: 2em;
    text-align: center;
}

.form_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

.form_description {
    text-align: center;
    margin-top: 5%;
}

input, textarea {
    width: 100%;
    margin-bottom: 5%;
    border: 2px solid #a30021;
}

.submit_btn {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25em;
    background: #a30021;
    color: #fff;
}

.submit_btn:hover {
    background: #fff;
    color: #a30021;
}

/*Vote*/

h4 {
    text-align: center;
    color: #734d30;
    margin: 5%;
}

.vote_title {
    text-align: center;
    font-size: 1.5em;
}

.question_answers label {
display: block;
font-size: 0.9em;
}

.question_answers input {
    width: auto;
    margin-right: 10%;
}